XML/NewXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/NewXMLSchema" xmlns:tns="http://www.example.org/NewXMLSchema" elementFormDefault="qualified">
<complexType name="breakfast_menuType">
<sequence>
<element name="food" type="tns:foodType"></element>
</sequence>
</complexType>

<complexType name="foodType">
<sequence>
<element name="name" type="string"></element>
<element name="salary" type="string"></element>
</sequence>
</complexType>


</schema>